# C++ / Visual Studio / DxLib

*.pch
*.obj
*.pdb
*.ilk
*.idb
*.tlog

Debug/
Release/
x64/
x86/

*.log
*.tmp

BaseProject 3/BaseProject/.vs
BaseProject 3/BaseProject/x64
BaseProject 3/BaseProject/Project